.nav {
  grid-area: nav;
  color: #008060;
  font-size: 24px;
  padding: 20px;
  /* border: 1px solid black; */
  width: 150px;
}

.item a {
  color: #008060;
  text-decoration: none;
}

.item a.activeLink {
  color: #044837;
}
