.homelogo {
  width: 940px;
  height: 260px;
}
.description {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.avatarPhoto {
  width: 200px;
  height: 200px;
}

.profileDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
