.profileInfo {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.description {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
}

.avatarPhoto {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.profileDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  margin-top: 40px;
  height: 400px;
  width: 600px;
}
.profileDescription h1 {
  justify-content: left;
}
.profileDescription h3 {
  display: flex;
  justify-content: left;
}
.photoWithButton {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 400;
  color: lightblue;
  padding: 5px;
  display: inline-block;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #5cb0d4;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
/* #5CB0D4 */
