.app-wrapper {
  display: grid;
  width: 1150px;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 60px 1fr;
  /* /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: content;
  color: #008060;
}
