.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
  padding: 20px;
  border: 1px solid black;
}

.dialogsItems {
  padding: 10px;
}

.messages {
  padding: 10px;
  border: 1px solid black;
}

.dialogsItems .active {
  color: gold;
}
