.dialogsContainer {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 0;
  /* border: 1px solid black; */
}

.messagesContainer {
  margin: 0 0 0 50px;
  /* border: 1px solid black; */
}

.userDialog {
  display: flex;
  flex-direction: row;
}

.userDialog div {
  margin-right: 10px;
}
